<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productCart.css">
    <title>Carrito de Compras</title>
</head>
<body class="product-cart">
    <header> 
        HEADER
    </header>
    <!--    Product Cart    -->
    <section class="category">
        <article class="names"> 
           
           
                     
        </article>
        <article class="items">
            <div>Nombre</div> 
            <div><img src="" alt="Imagen"> Zapatilla 1</div>
            <div>Cantidad</div>
            <div>1 
                <button class="button">+</button>
                <button class="button">-</button>
            </div>
            <div>Precio</div>  
            <div>$100</div>
        </article>
        <article class="items"> 
            <div>Nombre</div> 
            <div><img src="" alt="Imagen">Zapatilla 2</div>
            <div>Cantidad</div>
            <div>2 
                <button class="button">+</button>
                <button class="button">-</button>
            </div>
            <div>Precio</div>  
            <div>$200</div>
        </article>
        <article class="items">
            <div>Nombre</div> 
            <div><img src="" alt="Imagen">Zapatilla 3</div>
            <div>Cantidad</div>
            <div>3 
                <button class="button">+</button>
                <button class="button">-</button>
            </div>
            <div>Precio</div>  
            <div>$300</div>            
        </article>
        <p>Total</p>
        <p>$xxx</p>
    </section>
    <nav class="last-option">
        <ul>
            <li><a href="#">Continuar comprando</a></li>
            <li><a href="#">Finalizar compra</a></li>
        </ul>
    </nav>
    <!--    End Product Cart    -->
</body>
</html>