<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body >
    <div class="cuadro-form tamaño-logo">
        <img src="/images/login/logo.png" alt="logo" >
        <form action="">
            <h3>Iniciar sesión</h3>
            <div>
                <label for="usu">Email:</label>
            </div>      
            <div >
                <input type="text" id="usu" name="usuario" class="forma-tamaño" placeholder="Ingrese aquí su email">
            </div>
            <div>
                <label for="clave">Contraseña:</label>
            </div>    
            <div>
                <input type="password" id="clave" name="pass" class="forma-tamaño" placeholder="Ingrese aquí su contraseña">
            </div>
            <div id="boton-logueo">
                <input type="submit" value="Iniciar sesión">
            </div>
            <div class="borde">
            </div>
            <div class="centrar-o">
            <p>o</p>
            </div>
            <section class="orientar-boton">
               <div><button class="button-google forma-tamaño" >GOOGLE</button></div>
                <div><button class="button-face forma-tamaño">FACEBOOK</button></div> 
            </section>
            
        </form>
        <div ><a href="">¿Olvidaste tu contraseña?</a> </div>
    </div>
    <div class="cuadro-form orientar-p">
        <p>¿No tienes cuenta?</p>
        <a href="">Registrate</a> 
    </div>
    <footer>
        <link rel="stylesheet" href="/public/CSS/footer.css">
        <script src="https://kit.fontawesome.com/789d6992bb.js" crossorigin="anonymous"></script>
        <h4>
            <p> Acerca de <a href="">nosotros</a> <i class="fas fa-child"></i></p>
            <p> <a href="#">Home</a><i class="fas fa-home"></i></p>
            <p> <a href="">Contacto</a> <i id="wpp" class="fab fa-whatsapp"></i></p>
            <p> Seguinos <a href="www.facebook.com"><i id="fb" class="fab fa-facebook"></i></a>
                <a href="www.twitter.com"><i id="tw" class="fab fa-twitter"></i></a>
                <a href="www.instagram.com"><i id="ig" class="fab fa-instagram"></i></a>
            </p>
        </h4>        
    </footer>
</body>
</html>