<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://kit.fontawesome.com/789d6992bb.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="color-gradient">
        
        <section  id="contenedor-menú"> 
            <figure class="posicion-logo"><a href="/"><img class="redondo" src="/images/login/logo.png" alt="logo"></a></figure>
            <a href="#contenedor-menú" class="img-menú1 hamburguesa"><img src="/images/header/menu.png" alt="menú hamburguesa" id="abrir"></a>
            <a href="#" class="img-menú1 equis"><img src="/images/header/equis.png" alt="equis" id="cerrar"></a>
            <nav>
                <ul id="contenedor-enlaces">
                    <li><a href="" class="img-menú1"><img src="/images/header/huella.png" alt="">Productos</a></li>
                    <li><a href="" class="img-menú1"><img src="/images/header/login.png" alt="">Login</a></li>
                    <li><a href="" class="img-menú1"><img src="/images/header/carrito.png" alt="">Carrito</a></li>
                    <li><a href="" class="img-menú1 lupa"><img  src="/images/header/busqueda2.png" alt="">Buscar</a></li>
                </ul>
            </nav> 
        </section>
    </header>
    <!--    Product Cart    -->
    <section class="category">
        <article class="items"> 
            <div class="image-position"> 
                <img class="image" src="/images/productcart/zapatillas-led-1.jpg" alt="ZapaLed">
            </div>
                <div class="items descriptions">
                    <div class="amount">
                        <label for="cantidad">Cantidad</label>
                        <input type="number"  id="cantidad" value=1 checked>
                    </div>
                    <div class="price">
                        Precio  
                        $100
                    </div>
                    <div class="subtotal">
                        SubTotal $100
                    </div>
                    <p class="description">
                        Zapatillas con luces Led bien chetardas para cuando quieras zapatearla en el campo con algo mas que estilo,
                        incluye cable usb, no incluye cordones
                    </p> 
                </div>
        </article>
        <article class="items">  
            <div class="image-position">
                <img class="image" src="/images/productcart/zapatillas_hombre_moda_tendencias_2831.jpg" alt="Imagen">
            </div>
            <div class="items descriptions"> 
                <div class="amount">
                    <label for="cantidad">Cantidad</label>
                    <input type="number"  id="cantidad" value=1 checked>
                </div>
                <div class="price">
                    Precio $200
                </div>
                <div class="subtotal">
                    SubTotal $200
                </div>
                <p class="description"> 
                   Zapatillas hombre mezcla basquet con boxeo, tipico del basquetbolista boxeador, para estar siempre con la guardia arriba
                   y el ojo en el aro. Incluye pelota de basquet y 1 solo guante de boxeo
                </p>

            </div>
        </article>
        <article class="items"> 
            <div class="image-position">
                <img class="image" src="/images/productcart/Zapatillas-baby-yoda.jpg" alt="Imagen">
            </div>
            <div class="items descriptions"> 
                <div class="amount">
                    <label for="cantidad">Cantidad</label>
                    <input type="number"  id="cantidad" value=1 checked>
                </div>
                <div class="price">
                    Precio $300
                </div>
                <div class="subtotal">
                    SubTotal $300
                </div>            
                <p class="description">
                    Zapatillas baby yoda con el poder de la fuerza podras levantar objetos, como matilda pero haciendo un ademán con la mano
                    no incluye sable laser
                </p> 
        
            </div>
        </article>
    </section>
    <p class="total">Total $600</p>
    <nav class="last-option">
        <ul>
            <li><a href="#">Volver</a></li>
            <li><a href="#">Continuar</a></li>
        </ul>
    </nav>
    <!--    End Product Cart    -->

    <!--Seccion pago-->
    <form class="pay" action="" method="post">
    <label for="metodo"><h3> Seleccione metodo de pago</h3></label>
    <input list="lista" name="pay-method" id="metodo" placeholder="Seleccione aquí" required>
    <datalist id="lista">
        <option value="Tarjeta Debito/Credito"></option>
        <option value="Efectivo"></option>
        <option value="Codigo QR"></option>
    </datalist>
    <hr>
    <!--Tarjeta Debito/Credito-->
        <label for="tarjeta">Numero: </label>
        <input type="number" name="card" id="tarjeta" required>
        <label for="code">Codigo de seguridad: </label>
        <input type="password" name="code" id="code" required>
        <label for="expire">Fecha de vencimiento: </label>
        <input type="text" name="vto" id="expire" required>

    <!--Efectivo-->
    <h3>Seleccione la empresa mas cercana a realizar el pago: </h3>
    <a href="">Pago Facil</a>
    <a href="">Rapi Pago</a>
    <a href="">Mercado Liebre</a>
   
    <!--Completar con codigo de referencia para confirmar pago!-->
    <!--Codigo QR-->
    <h3>Por favor escanee el codigo QR para continuar el pago</h3>
    <img src="" alt="Codigo QR">
    <button type="reset">Reinciar</button>
    <button type="submit">Enviar</button>
    </form>
    <!--End seccion de pago -->

    <footer>
        <h4>
            <p> Acerca de <a href="">nosotros</a> <i class="fas fa-child"></i></p>
            <p> <a href="/">Home</a><i class="fas fa-home"></i></p>
            <p> <a href="">Contacto</a> <i id="wpp" class="fab fa-whatsapp"></i></p>
            <p> Seguinos <a href="www.facebook.com"><i id="fb" class="fab fa-facebook"></i></a>
                <a href="www.twitter.com"><i id="tw" class="fab fa-twitter"></i></a>
                <a href="www.instagram.com"><i id="ig" class="fab fa-instagram"></i></a>
            </p>
        </h4>        
    </footer>
</body>
</html>