/*  Footer  */
footer{
    background: linear-gradient(#f8f1df,#cdc4a9 , #8c8364,  #524d3d);
    border-radius: 20px 20px 0 0 ;
    margin-top: 12px;
    bottom: 0;
    width:100%
    
}
footer a{
    text-decoration: none;
    color: black;
    
}
footer #fb{
    color: blue;
    font-size:20px;
}
footer #wpp{
    color: white;
    background-color: green;
    border-radius:50px;
}
footer #ig{
    background:linear-gradient(#8a3ab9,#fccc63,#fbad50,#cd486b);
    color: whitesmoke;
    border-radius: 10%;
    font-size:20px;
}
footer #tw{
    color: cyan;
    font-size:20px;
}