@import url('./animation.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/********HEADER*******/
header{
    background: linear-gradient(#524d3d, #8c8364 50%, #cdc4a9 ,  #f8f1df);
    position: fixed;
    z-index:10;
    top: 0;
    left:0;
}
header.header-opacity{
    opacity: 0%;
    transition: all 0.5s ease-in-out;
}


.posicion-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redondo{ /*sombreado en el radio del logo*/
    box-shadow: 0 0 15px #f8f1df ;
}
/**********MENÚ***********/
li{
    border-bottom: #8c8364 solid 0.2em;
}

/*******************CELULAR********************/
@media all and (min-width:320px){

    /*********HEADER*********/
    header{
        width: 100%; /*ancho header*/
        position: fixed;    
    }

    img{ /*controla que no desborde la imágen del logo*/
        width: 15%;
        margin-top: 1em;
    }

    .redondo{ /*forma redondeada de logo*/
        border-radius: 50%;
        display: flex;
        justify-content: center;
        object-fit:scale-down;
    }
  
    /*********MENÚ*********/
    .header ul li{
        padding: 1em;

    } 
    
    nav ul{
        list-style: none;
    }

    nav a{
        text-decoration: none;
        font-size: 1.2em;
        color: #000000;

    }

    .img-menú1 img{ /*imagenes de menu hamb y la equis*/
        width: 5%;
        padding: 0.5em;
    }

    #contenedor-menú #cerrar{ /*oculta imagen de la equis*/
        display: none;
    }

    #contenedor-menú #contenedor-enlaces{
        height: 0; /*cambia altura a 0*/
        overflow: hidden; /*oculta lo que sobresalga del menú*/
        transition: height 2s ease; /*efecto de transicion*/
    }
    
    #contenedor-menú:target #abrir{
        display: none;
    }

    #contenedor-menú:target #cerrar{
        display: block;
    }

    #contenedor-menú:target #contenedor-enlaces{
        height:50%; /*altura del menú*/
        transition: height 2s ease;
    }
}
/*******************TABLET********************/
@media all and (min-width:768px){
    /**********MENU**********/
 
    #abrir, #cerrar{
        display: none;
    } 

    #contenedor-menú #contenedor-enlaces{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 10%;
    }

    li{
        border-bottom: none;
    }
}
    
/*****************ESCRITORIO********************/
@media all and (min-width:1024PX){
    /**********MENU**********/
    .img-menú1 img{ /*imagenes de menu hamb y la equis*/
        width: 8%;
        padding: 0.3em;
    }

    #abrir, #cerrar{
        display: none;
    } 

    #contenedor-menú #contenedor-enlaces{
        display: flex;
        flex-direction: row;
        height: 10%;
    }

    li{
        border-bottom: none;
    }

}