*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/********HEADER*******/
header{
    background: linear-gradient(#524d3d, #8c8364 50%, #cdc4a9 ,  #f8f1df 30%);
}

.redondo{ /*sombreado en el radio del logo*/
    box-shadow: 0 0 15px #f8f1df ;
}
/**********MENÚ***********/
li{
    border-bottom: #cdc4a9 solid 0.2em;
}

/*******************CELULAR********************/
@media all and (min-width:320px){

    /*********HEADER*********/
    header{
        width: 100%; /*ancho header*/
        height: 100%; /*largo*/
        position: fixed;    
}

    img{ /*controla que no desborde la imágen en el header y el logo*/
        width: 50%;
    }

    .redondo{ /*forma redondeada de logo*/
        border-radius: 50%;
    }

    .posicion-logo{ /*posicion del logo*/
        position: relative;
        top: 20px;
        left: 90px;
    }
    
    /*********MENÚ*********/
    li{
        padding: 1em;

    } 
    
    nav ul{
        list-style: none;
    }

    nav a{
        text-decoration: none;
    }

    .img-menú1 img{ /*imagenes de menu hamb y la equis*/
        width: 15%;
    }

    .img-menú2 img{ /*imagenes del 2do menú lupa, login y carrito*/
        width: 100%;
    }
    .img-menú2 li{
        width: 10%;
        position: relative;
    }

    #contenedor-menú #contenedor-enlaces{
        width: 50%;
        height: 40%;
        display: inline-block;
        vertical-align: middle;
    }

    .img-menú2{ /*posiciona menù 2 a la izquierda*/
        position: relative;
        left: 285px;
        bottom: 250px;

     }

    #contenedor-menú #cerrar{
        display: none; /*oculta imagen equis*/
    }

    #contenedor-menú #contenedor-enlaces{
        height: 0;
        transition: heigth 1s ease; /*efecto de transicion*/
        overflow: hidden; /*ocultar lo que sobresalga*/
    }
    
    #contenedor-menú:target #abrir{
        display: none; /*oculta img de hamburguesa*/
        
    }

    #contenedor-menú:target #cerrar{
        display: block; /*muestra img de equis*/
    }
    
    #contenedor-menú:target #contenedor-enlaces{
        height: 25vh;
        transition: height 1s ease;
    }
}
/*******************TABLET********************/
@media all and (min-width:768px){
    /***********HEADER*************/
    img{ /*tamaño logo*/
        width: 35%;
    }

    .img-menú1 img{ /*imagenes de menu hamb y la equis*/
        width: 10%;
    }

    .posicion-logo{ /*posicion del logo*/
        position: relative;
        top: 100px;
        left: 150px;

    }

    /**********MENU**********/
    
    .img-menú2{ /*posiciona menù 2 a la izquierda y lo orienta de forma horizontal*/
       display: flex;
       flex-direction: row;
       justify-content: center;
     }

    .nav-dos{
        position: relative;
        right: 70px;
        top: 30px;
      }
    
}
    

/*****************ESCRITORIO********************/
@media all and (min-width:1024PX){
    /*********MENÚ*********/
    img{ /*tamaño logo*/
        width: 25%;
    }

    .posicion-logo{ /*posicion del logo*/
        position: relative;
        left: 370px;
        top: 20px;
    }

    /**********MENU**********/
    
    .img-menú2{ /*posiciona menù 2 a la izquierda y lo orienta de forma horizontal*/
       width: 35%;     
       display: flex;
       flex-direction: row;
       justify-content: center;
     }

    .nav-dos{
        position: relative;
        right: -400px;
        top: 70px;
      }


    #abrir, #cerrar{
        display: none;
    } 

    #contenedor-menú #contenedor-enlaces{
        display: flex;
        flex-direction: row;
        height: 10%;
        position: relative;
        bottom: 118px;
        left: 20px;
    }

    li{
        border-bottom: none;
    }

    a{
        font-size: 1.2em;
        color: #000000;
    }


}