
.text-danger{
    color:red;
}


.borde{
    border-bottom: grey 0.1em solid;
    
}
.button-google{ /*detalles de boton google*/
    box-shadow: 0px 0px 12px rgba(173, 173, 67, 0.575);
}

.button-face{ /*detalles de boton facebook*/
    box-shadow: 0px 0px 12px rgba(25, 0, 255, 0.5);
}

.remember{
    position: relative;
    left: 25px;

    
    
}
.recorda2{
    position: relative;
    top: -5px;
}



/*******************CELULAR********************/
@media (min-width:320px){
    body{/*se coloca imágen en el fondo*/
        background: url(../images/login/huella.jpg);
        width: 100%;
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .orientar-boton{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .tamaño-logo img{ /*tamaño y posicion del logo*/
        width: 80%;
        position: relative;
        bottom: 30px;
    }

    .centrar-o {
        position: relative;
        left: 85px;
        bottom: 20px;
    }


    .cuadro-form{ /*centra el contenido del form y pone color de fondo*/
        width: 70%;
        background-image: url('../images/login/huella.jpg');
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8%;
        margin-top: 3rem;

    }

    .cuadro-form img{ /*asigna forma a imágen de logo que está en el formulario*/
        width: 30%;
        border-radius: 50%;
    }
    .cuadro-form h3{
        text-align: center;
        padding: 0.5em;
    }

    .cuadro-form div{ /*dirección de botones google y facebook, además asigna padding a todos los div del form*/
        display: flex;
        
        align-content: center;
        padding: 0.5em;
    }
    
    .forma-tamaño{ /*brinda "tocabilidad" a los recuadros para escribir*/
        display:flex;
        flex-direction: row;
        justify-content: center;
    } 


    #boton-logueo{
        display:flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
        background-color: transparent;
        margin: 0px;
        padding: 0px;
    }

    .olvidaste{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .email{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
        border-radius: 30px;
    }

    .clave{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
        border-radius: 30px;
    }

    .orientar-p{
        padding: 1em;
    }

}

/********************TABLET********************/
@media all and (min-width:768px){
    body{/*se coloca imágen en el fondo*/
        margin-top: 7em;
    }
    
    .tamaño-logo img{ /*tamaño y posicion del logo*/
        bottom: 60px;
    }
    .orientar-boton{
        display:flex;
        flex-direction: row;
        position: relative;
        
    }

}
    

/*****************ESCRITORIO********************/
@media all and (min-width:1024PX){
    .tamaño-logo{
        flex-direction: row;
        justify-content: center;
    }

    .tamaño-logo img{ /*tamaño y posicion del logo*/
        top: 5px;
        right: 2px;
        
    }

}