/*  Mobile  */

/*  Body    */
*{
    box-sizing: content-box;
}
body{
    background: #fcf3e4;
}

/*  End Body    */

/* p  descripcion debajo de la foto del carrito */
.descripcion-mas-info {
    margin: 1.5rem;
}

/*  Category    */
.category{ /*Agrego display flex a todo el cuerpo*/
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7rem;
}
.category .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center    ;
}
.category .items .image-position{
    display: flex;
    align-items: center;
}
.category .items .image-position i{
    position:relative;
    bottom:-3rem;
    right:-3px;
    color: slateblue;
    background-color:white;
    border-radius:50px;
}
.category .items .image{
    width: 140px;
}
.category .items .amount{
    height: 50px;
    width: 61px;
}
.category .items .amount input {
    width: 90%;
}
.category .items .price{
    margin: 0px 7px;
    height: 50px;
    width: 60px;
}
.category .items .subtotal{
    width:50px;
}
.category .items .description{
    font-size: 11px;
    height: 50px;
    width: 255px;
    margin-top: 3px;
    margin-left:15px;
}
.total{
    display:flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 23px;
    position: relative;
    top: 7rem;
}
/*  End Category*/

/*  Last option*/
.last-option{
    position: relative;
    top: 7rem;
}
.last-option ul{
    display: flex;
    justify-content: space-evenly;
}
.last-option ul {
    list-style: none;
    text-decoration: none;
}
.last-option ul li{
    font-size: 20px;
}
.last-option ul li a{
    text-decoration: none;
    border:2.5px solid black;
    border-radius: 16px;
    color: black;
    font-size: 20px;
}
.last-option ul li a:hover{
    background: linear-gradient(90deg,#96894b,#bb7821);
    transition: all 3s ease-out;
}

/* End Last option*/

/*  Metodo de pago    */
form.pay{
    position: relative;
    top: 7rem;
}
form input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/*  End metodo de pago*/
footer{
    position: relative;
    top: 7rem;
}
/*  Media queries   */

    /*  Tablet  */
    @media (min-width:768px){
        .category{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .category .items{
            width: 297px;
            margin: 0px 5px 30px 0px;
        }
        .category .items .image{
            width: 240px;
            height: 200px;
            margin-bottom: 15px;
        }
        .category .items .description{
            font-size: 15px;
            display: flex;
        }
    }

    /*  Desktop */
    @media(min-width:1024px){
        .category{
            top:12rem;
        }
        .category .items .description{
            font-size: 20px;
        }
        .total{
            top:14rem;
        }
        .last-option{
            top:12rem;
        }
        form.pay{
            position: relative;
            top: 12rem;
        }
        footer{
            position: relative;
            top: 12rem;
        }
    }
