<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/footer.css">
    <link rel="stylesheet" href="../public/css/productDetail.css">
    <script src="https://kit.fontawesome.com/789d6992bb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<footer>
    <div class="social-links">
        <p> Acerca de <a href=""> nosotros </a> <i class="fas fa-child"></i></p>
        <p> <a href="#">Home</a><i class="fas fa-home"></i></p>
        <p> <a href="">Contacto</a> <i  class="fab fa-whatsapp"></i></p>
        <p> Seguinos <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
        </p>
    </div>        
</footer>
</html>

