<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://kit.fontawesome.com/789d6992bb.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="color-gradient">
        
        <section  id="contenedor-menú"> 
            <figure class="posicion-logo"><a href="/"><img class="redondo" src="/images/login/logo.png" alt="logo"></a></figure>
            <a href="#contenedor-menú" class="img-menú1 hamburguesa"><img src="/images/header/menu.png" alt="menú hamburguesa" id="abrir"></a>
            <a href="#" class="img-menú1 equis"><img src="/images/header/equis.png" alt="equis" id="cerrar"></a>
            <nav>
                <ul id="contenedor-enlaces">
                    <li><a href="" class="img-menú1"><img src="/images/header/huella.png" alt="">Productos</a></li>
                    <li><a href="" class="img-menú1"><img src="/images/header/login.png" alt="">Login</a></li>
                    <li><a href="" class="img-menú1"><img src="/images/header/carrito.png" alt="">Carrito</a></li>
                    <li><a href="" class="img-menú1 lupa"><img  src="/images/header/busqueda2.png" alt="">Buscar</a></li>
                </ul>
            </nav> 
        </section>
    </header>
    <!--    Product Cart    -->
    <section class="category">
        <article class="items"> 
            <div class="image-position"> 
                <img class="image" src="/images/productDetail/zapatillas-dakota-azul/zapatilla-dakota-azul1.jpg" alt="ZapaLed">
                <a href="productDetail.html"><i class="fas fa-info-circle"></i></a>
            </div>
                <div class="items descriptions">
                    <div class="amount">
                        <label for="cantidad">Cantidad</label>
                        <input type="number"  id="cantidad" value=1 checked>
                    </div>
                    <div class="price">
                        Precio  
                        $100
                    </div>
                    <div class="subtotal">
                        SubTotal $100
                    </div>
                    <div class="color">
                        color <input type="color" name="" id="">
                    </div>
                    <div class="talle">
                        talle
                    </div>
                </div>
        </article>
        <article class="items">  
            <div class="image-position">
                <img class="image" src="/images/productDetail/zapatillas-dakota-negro/zapatillas-dakota1.jpg" alt="Imagen">
                <a href="productDetail.html"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="items descriptions"> 
                <div class="amount">
                    <label for="cantidad">Cantidad</label>
                    <input type="number"  id="cantidad" value=1 checked>
                </div>
                <div class="price">
                    Precio $200
                </div>
                <div class="subtotal">
                    SubTotal $200
                </div>
                <div class="color">
                    color <input type="color" name="" id="">
                </div>
                <div class="talle">
                    talle
                </div>
            </div>
        </article>
        <article class="items"> 
            <div class="image-position">
                <img class="image" src="/images/productDetail/zapatillas-dakota-blanca.jfif" alt="Imagen">
                <a href="productDetail.html"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="items descriptions"> 
                <div class="amount">
                    <label for="cantidad">Cantidad</label>
                    <input type="number"  id="cantidad" value=1 checked>
                </div>
                <div class="price">
                    Precio $300
                </div>
                <div class="subtotal">
                    SubTotal $300
                </div>
                <div class="color">
                    color <input type="color" name="" id="">
                </div>
                <div class="talle">
                    talle
                </div> 
            </div>
        </article>
    </section>
    <p class="total">Total $600</p>
    <nav class="last-option">
        <ul>
            <li><a href="productDetail.html">Volver</a></li>
            <li><a class="continue">Continuar</a></li>
        </ul>
    </nav>
    <!--    End Product Cart    -->

    <!--Seccion pago-->
    <form class="pay" action="" method="post">
        <div class="metodo-pago">
            <label>
                <h3> Seleccione metodo de pago</h3>
                <h2>X</h2>
            </label>
            <section class="method">
                <label for="debito"> Tarjeta de credito/debito<input type="radio" name="card-method"value="credito/debito" id="card"></label>
            </section>
            <section class="method">
                <label for="efectivo">Efectivo<input type="radio" name="cash-method"value="Efectivo" id="cash"></label>
            </section>
            <section class="method">
                <label for="escanear">QR <input type="radio" name="scan-method"value="Qr" id="scan"></label>
            </section>        
        </div>
        <hr>
        <section class="card-pay card">  <!--Tarjeta Debito/Credito-->
            <h2>X</h2>
            <label for="tarjeta">Numero: </label>
            <input type="number" name="card" id="tarjeta" required>
            <label for="code">Codigo de seguridad: </label>
            <input type="password" name="code" id="code" required>
            <label for="expire">Fecha de vencimiento: </label>
            <input type="text" name="vto" id="expire" required>
        </section>
        <section class="cash-pay card">    <!--Efectivo-->
            <h3>Seleccione la empresa mas cercana a realizar el pago: </h3>
            <h2>X</h2>
            <a href="">Pago Facil</a>
            <a href="">Rapi Pago</a>
            <a href="">Mercado Liebre</a>
        </section>
        <!--Completar con codigo de referencia para confirmar pago!-->
        <section class="scan-pay card">  <!--Codigo QR-->
            <h3>Por favor escanee el codigo QR para continuar el pago</h3>
            <h2>X</h2>
            <img src="" alt="Codigo QR">
        </section>
        <div class="boton">  
            <button type="reset">Reinciar</button>
            <button type="submit">Enviar</button>
        </div>
    </form>     <!--End seccion de pago -->

    <footer>
        <div>
            <p> Acerca de <a href=""> nosotros </a> <i class="fas fa-child"></i></p>
            <p> <a href="#">Home</a><i class="fas fa-home"></i></p>
            <p> <a href="">Contacto</a> <i id="wpp"  class="fab fa-whatsapp"></i></p>
            <p> Seguinos <a href="www.facebook.com"><i id="fb" class="fab fa-facebook-f"></i></a>
                <a href="www.twitter.com"><i id="tw" class="fab fa-twitter"></i></a>
                <a href="www.instagram.com"><i id="ig" class="fab fa-instagram"></i></a>
            </p>
        </div>        
    </footer>
    <script src="/javascript/productCart.js"></script>
</body>
</html>