<!DOCTYPE html>
<html lang="es">
<%- include ('partials/head') %> 
<body>
    <%- include ('partials/header') %>
    <h2>Nuestros productos</h2>
    <nav class="categories-product">
        <div class="calzado">
            <p>Deportivas</p>
            <a href="/products/category/1"><img src="/images/products/deportivas/zapatillas-nike-2020-.jpg" alt=""></a>
        </div>
        <div class="calzado">
            <p>Elegante</p>
            <a href="/products/category/2"><img src="/images/products/elegante/25-azul.jpg" alt=""></a>
        </div>
        <div class="calzado">
            <p>Casual</p>
            <a href="/products/category/3"><img src="/images/products/casual/ZapasAllStar9.jpg" alt=""></a>
        </div>
        <div class="calzado">
            <p>Botas</p>
            <a href="/products/category/4"><img src="/images/products/botas/BotasMarrones6.jpg" alt=""></a>
        </div>
    </nav>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>

</body>
</html>