<footer>
    <div class="social-links">
        <p> Acerca de <a href=""> nosotros </a> <i class="fas fa-child"></i></p>
        <p> <a href="#">Home</a><i class="fas fa-home"></i></p>
        <p> <a href="">Contacto</a> <i  class="fab fa-whatsapp"></i></p>
        <p> Seguinos <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
        </p>
    </div>        
</footer>

