<header class="color-gradient header">  
    <section  id="contenedor-menú"> 
<<<<<<< HEAD
        <figure class="posicion-logo"><img class="redondo" src="/images/login/logo.png" alt="logo"></figure>
        <a href="#contenedor-menú" class="img-menú1 hamburguesa"><i class="fas fa-bars" id="abrir"></i></a>
        <a href="#" class="img-menú1 equis"><i class="fas fa-times" id="cerrar"></i></a>
        <nav class="navigation">
=======
        <a href="/"><figure class="posicion-logo"><img class="redondo" src="/images/login/logo.png" alt="logo"></figure></a>
        <a href="#contenedor-menú" class="img-menú1 hamburguesa"><img src="/images/header/menu.png" alt="menú hamburguesa" id="abrir"></a>
        <a href="#" class="img-menú1 equis"><img src="/images/header/equis.png" alt="equis" id="cerrar"></a>
        <nav>
>>>>>>> 9de85f87bdc5a04cca2cc1b86b16cda5cf7b5766
            <ul id="contenedor-enlaces">
                <li><a href="" ><i class="fas fa-shoe-prints"></i>Productos</a></li>
                <li><a href="/user/login"><i class="fas fa-user-circle"></i>Login</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
            </ul>
<<<<<<< HEAD
            <div class="search-bar">
                <form action="" class="search-form-mobile" id="search">
                    <input type="search" name="" id="" placeholder="Buscar productos">
                    <div class="lupa-search"><button type="submit"><i class="fas fa-search"></i></button></div>
                </form>
            </div>
        </nav> 
    </section>
    <section>
        
=======
>>>>>>> 9de85f87bdc5a04cca2cc1b86b16cda5cf7b5766
    </section>
</header>
