    <header class="color-gradient">
        <section  id="contenedor-menú"> 
            <figure class="posicion-logo"><a href="/"><img class="redondo" src="/images/login/logo.png" alt="logo"></a></figure>
            <a href="#contenedor-menú" class="img-menú1 hamburguesa"><img src="/images/header/menu.png" alt="menú hamburguesa" id="abrir"></a>
            <a href="#" class="img-menú1 equis"><img src="/images/header/equis.png" alt="equis" id="cerrar"></a>
            <nav>
                <ul id="contenedor-enlaces">
                    <li><a href="" class="img-menú1"><img src="/images/header/huella.png" alt="">Productos</a></li>
                    <li><a href="login" class="img-menú1"><img src="/images/header/login.png" alt="">Login</a></li>
                    <li><a href="productCart" class="img-menú1"><img src="/images/header/carrito.png" alt="">Carrito</a></li>
                    <li><a href="" class="img-menú1 lupa"><img  src="/images/header/busqueda2.png" alt="">Buscar</a></li>
                </ul>
            </nav> 
    </header>