<header class="color-gradient header">
    <div class="container_header">
        <a href="/">
            <img class="redondo" src="/images/login/logo.png" alt="logo">
        </a>
        <form class="search" action="">
            <input type="text" name="search" placeholder="Que éstas buscando ?">
        </form>
        <div class="menu_mobile">
            <% if (typeof session.user !="undefined") { %>
                <i class="fas fa-user icon_user_mobile session"></i>
            <% } else { %> 
                <i class="fas fa-user icon_user_mobile"></i>
            <% } %> 
            <i class="fas fa-bars" id="icon_menu"></i>
        </div>
        <div class="icons_desktop">
            <% if (typeof session.user !="undefined") { %>
               Hola <%= session.user.first_name %>!
                <i class="fas fa-user icon_user_desktop session"></i>
                <% if (session.cart.length>0 ) { %>
                    <div class="globito"><%- session.cart.length  %></div>
                    <a href="/products/cart">
                        <i class="fas fa-bag-shopping"></i>
                    </a>
                <% }else { %>
                    <a href="/products/cart"><i class="fas fa-bag-shopping"></i></a>
                <% } %> 
                <% } else { %> 
                    <a href="/user/login"><i class="fas fa-user icon_user_desktop"></i></a>
                    <% } %> 
        </div>
    </div>
    <nav class="nav_desktop">

        <a href="/">Categoria
            <div class="items">
                <figure>
                    <img src="/images/home/zapatillas_hombre_moda_tendencias_2831.jpg" alt="">
                </figure>
                <div class="info">
                    <h3>Categoria 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio debitis atque doloremque sit! Obcaecati delectus maiores similique repudiandae explicabo possimus, officia eveniet excepturi expedita minima placeat iste est voluptatum alias quia rem. Quibusdam sequi, numquam doloremque adipisci sapiente ipionem?</p>
                </div>
            </div>
        </a>
        <a href="/">Categoria
            <div class="items">
                <figure>
                    <img src="" alt="">
                </figure>
                <div class="info">
                    <h3>Categoria 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio debitis atque doloremque sit! Obcaecati delectus maiores similique repudiandae explicabo possimus, officia eveniet excepturi expedita minima placeat iste est voluptatum alias quia rem. Quibusdam sequi, numquam doloremque adipisci sapiente ipionem?</p>
                </div>
            </div>
        </a>
        <a href="/">Categoria
            <div class="items">
                <figure>
                    <img src="" alt="">
                </figure>
                <div class="info">
                    <h3>Categoria 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio debitis atque doloremque sit! Obcaecati delectus maiores similique repudiandae explicabo possimus, officia eveniet excepturi expedita minima placeat iste est voluptatum alias quia rem. Quibusdam sequi, numquam doloremque adipisci sapiente ipionem?</p>
                </div>
            </div>
        </a>
        <a href="/">Categoria
            <div class="items">
                <figure>
                    <img src="" alt="">
                </figure>
                <div class="info">
                    <h3>Categoria 4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio debitis atque doloremque sit! Obcaecati delectus maiores similique repudiandae explicabo possimus, officia eveniet excepturi expedita minima placeat iste est voluptatum alias quia rem. Quibusdam sequi, numquam doloremque adipisci sapiente ipionem?</p>
                </div>
            </div>
        </a>

    </nav>

    <nav class="nav_mobile" id="options">
        <a href="/">Sobre nosotros</a>
        <a href="/">Categoria 1</a>
        <a href="/">Categoria 2</a>
        <a href="/">Categoria 3</a>
        <a href="/">Categoria 4</a>
        <a href="/">Ayuda</a>
    </nav>

    <div class="user_data" id="user_data">
        <% if (typeof session.user !="undefined") { %>
            <a href="/">perfil</a>
            <a href="/">Mis productos</a>
            <a href="/">cerrar sesion</a>
        <% } else { %>
        <a href="/user/login">Ingresar</a>
        <a href="/user/register">No tenes cuenta?</a>
        <% }  %>
    </div>

    <div class="user_cart" id="content_cart">
            <p>Carrito</p>
            <div class="container_items">
                <div class="item">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <p>cantidad : 3</p>
                </div>
                <p>Subtotal: 5000</p>
            </div>
            <a href="/">Comprar</a>
    </div>
    
</header>
<% if (typeof session.user !=="undefined" ) { %>

    <% } %>