<header class="color-gradient header">
        
    <section  id="contenedor-menú"> 
        <figure class="posicion-logo"><img class="redondo" src="/images/login/logo.png" alt="logo"></figure>
        <a href="#contenedor-menú" class="img-menú1 hamburguesa"><img src="/images/header/menu.png" alt="menú hamburguesa" id="abrir"></a>
        <a href="#" class="img-menú1 equis"><img src="/images/header/equis.png" alt="equis" id="cerrar"></a>
        <nav>
            <ul id="contenedor-enlaces">
                <li><a href="" class="img-menú1"><i class="fas fa-shoe-prints"></i>Productos</a></li>
                <li><a href="/user/login" class="img-menú1"><i class="fas fa-user-circle"></i>Login</a></li>
                <li><a href="/productCart" class="img-menú1"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                
            </ul>
        <!---revisar</nav> 
            <ul>
                <li><a href="" class="img-menú1 lupa"><i class="fas fa-search"></i></a></li>  
            </ul>
        <nav> 
            <form action="" class="search-form-mobile" id="search">
                <div class="search-bar">
                    <input type="search" name="" id="" placeholder="Buscar productos">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </nav> -->
    </section>
    <section>
        
    </section>
</header>
