<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
    <title>Agregar producto</title>
<body>
    <!-- navbar -->
    <!-- <div class="toggle" onclick="toggleMenu()"></div> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fin navbar -->
    <%- include('../partials/adminHeader')%> 
    <!-- <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-home"></i></i></span>
                    <span class="title" >Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="title">Configuraciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Salir</span>
                </a>
            </li>
        </ul>
    </div> -->

    <!-- Editor creador de productos -->
    <table>
        <tr>
            <td>
                <form action="/admin/product" autocomplete="off" method="POST" enctype="multipart/form-data">
                    
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="product">
                    </div>
                    <div>
                        <label for="size">Talle</label>
                        <input type="text" name="size" id="size">
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="price" id="perPrice">
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="range" name="description" id="description">
                    </div>
                    <div>
                        <label for="discount">Color</label>
                        <input type="number" name="discount" id="discount">
                    </div>
                    <div>
                        <label for="discount">Descuento</label>
                        <input type="number" name="discount" id="discount">
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" multiple>
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/javascript/productCreate.js"></script>


    <script>
        function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>

    <!-- <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script> -->
</body>
</html>